header h1 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem; /* Consistent font size for smaller screens */
  }
}

.mvvm-button, .mockup-button {
  background: var(--color-button-bg);
  color: var(--color-text);
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  margin: 2rem 2.5rem;
}

.mvvm-button:hover, .mockup-button:hover {
  filter: var(--color-button-hover);
  transition: 0.5s;

}