body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.home-page {
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 0;
  max-height: 100vh;
}

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1rem;
}

.home-left h1 {
  margin: 0;
  text-align: left;
}

.home-left p {
  text-align: left;
  max-width: 650px;
}

.home-buttons {
  display: flex;
  gap: 1rem;
}

.github-button, .apk-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.github-button {
  background-color: var(--color-hover-bg);
  color: var(--color-text);
}

.github-button:hover {
  color: var(--color-button-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-image {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}
