body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.home-page {
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.home-left {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-left h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.home-left p {
  font-size: 1rem;
  line-height: 1.5;
}

.home-buttons {
  display: flex;
  gap: 1rem;
}

.github-button, .apk-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.github-button {
  background-color: var(--color-hover-bg);
  color: var(--color-text);
}

.github-button:hover {
  color: var(--color-button-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .home-left {
    text-align: center;
    font-size: 1.8rem;
  }

  .home-left h1 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .home-left p {
    font-size: 0.9rem;
  }

  .home-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .home-right {
    width: 100%;
  }

  .home-image {
    width: 75%;
  }
}
