body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header h1 {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .pitch h1 {
    font-size: 1.8rem; /* Consistent font size for smaller screens */
    margin-top: 1rem;
  }
}

.pitch p {
  font-size: 1.125rem; 
  line-height: 1.6; 
  margin-bottom: 1rem;
  text-align: center;
}