h1 {
  font-size: 2.5rem;
  margin-bottom: 8rem;
}

.team-cards {
  display: flex;
  justify-content: center; /* Center the cards equally */
  align-items: flex-start;
  gap: 2rem; /* Maintain spacing between cards */
  padding: 1rem;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
}

.card {
  flex: 1 1 250px; /* two cards per row */
  max-width: calc(50% - 2rem);
  outline: 2px solid #303030;
  outline-offset: 3px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #1b1b1b;
  text-align: left;
}

.card h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.25rem;
  color: #ffffff;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card ul li {
  position: relative;
  margin-bottom: 0.5rem;
  color: #ffffff;
  padding-left: 1.5rem;
}

.card ul li::before {
  content: '\2022'; 
  position: absolute;
  left: 0;
  color: var(--color-button-bg); 
}

@media (max-width: 768px) {
  .team-page h1 {
    font-size: 1.8rem; /* Consistent font size for smaller screens */
    margin-top: 7rem;
    margin-bottom: 4rem;
  }

  .card h2 {
    margin-left: 1.2rem;
  }

  .card {
    flex: 0 0 100%; /* Make cards take up the full width on smaller screens */
  }

  .card ul {
    text-align: center; /* Center the list text for smaller screens */
  }

  .card ul li {
    justify-content: center; /* Center the bullet point and text horizontally */
  }
}