h1{
    margin-bottom: 8rem;
}

.team-cards {
  display: flex;
  justify-content: center; /* Center the cards equally */
  align-items: flex-start;
  gap: 2rem; /* Maintain spacing between cards */
  padding: 1rem;
}

.card h2 {
    text-align: center;
}

.card {
  flex: 0 0 22%; /* Ensure all cards are the same size */
  outline: 2px solid #303030;
  outline-offset: 3px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #1b1b1b;
  text-align: left;
}

.card h2 {
  margin-top: 0;
  font-size: 1.25rem;
  color: #ffffff;

}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card ul li {
  position: relative;
  margin-bottom: 0.5rem;
  color: #ffffff;
  padding-left: 1.5rem;
}

.card ul li::before {
  content: '\2022'; 
  position: absolute;
  left: 0;
  color: var(--color-button-bg); 
}